body{
    background: #222222!important;
    /* line-height: 1.7!important; */
    font-weight: 300!important;
}
.mb-30 {
    margin-bottom: 30px;
}
  
.mb-50 {
    margin-bottom: 50px;
}
  
.mb-80 {
    margin-bottom: 80px;
}
  
.color-1 {
    color: rgba(255, 255, 255, 0.5);
}
  
.color-2 {
    color: #bac964;
}
  
.fs-12 {
    font-size: 12px;
}
  
.fs-20 {
    font-size: 20px;
}
  
.fs-30 {
    font-size: 30px;
}
  
.fs-24 {
    font-size: 24px;  
}
  
.fw-200 {
    font-weight: 200;
}
  
.letter-spacing {
    letter-spacing: .2rem;
}
.h-700{
    max-height: 700px!important;
}